
#python==3.11
replit == 3.3.2
uuid0 == 0.2.7
uuid ==1.30
replicate == 0.15.4
requests == 2.31.0
sib-api-v3-sdk == 7.6.0
flask == 2.1.2
flask-stripe == 0.1.0
pillow == 10.1.0
markdown == 3.5

diffusers==0.30.3 
torch==2.6.0
transformers==4.57.3
huggingface-hub==0.36.0
invisible-watermark==0.2.0
accelerate==1.12.0
pandas==2.0.3
torchvision==0.21.0
numpy==1.26.4
fire==0.5.0
opencv-python>=4.1.0.25
mediapipe==0.10.13
tokenizers==0.22.1