
#python==3.11
replit == 3.3.2
uuid0 == 0.2.7
uuid ==1.30
replicate == 0.15.4
requests == 2.31.0
sib-api-v3-sdk == 7.6.0
flask == 2.1.2
flask-stripe == 0.1.0
pillow == 10.1.0
markdown == 3.5

diffusers==0.27.2#0.25
torch==2.0.1
transformers==4.31.0
huggingface-hub==0.20.3
invisible-watermark==0.2.0
accelerate==0.21.0
pandas==2.0.3
torchvision==0.15.2
numpy==1.26.4#1.25.1
fire==0.5.0
opencv-python>=4.1.0.25 #4.11.0.86
mediapipe==0.10.21#0.10.5
tokenizers==0.12.0