
#python==3.11
replit == 3.3.2
uuid0 == 0.2.7
uuid ==1.30
#replicate == 0.15.4
requests == 2.31.0
sib-api-v3-sdk == 7.6.0
flask == 2.1.2
flask-stripe == 0.1.0
pillow == 10.1.0
markdown == 3.5
python-dotenv==1.2.1
python-fasthtml==0.12.36
modal




--extra-index-url https://download.pytorch.org/whl/cpu

# 
torch  
torchvision
transformers
diffusers
accelerate
# huggingface-hub==0.36.0 
# invisible-watermark==0.2.0 

# pandas==2.1.4 
# torchvision==0.23.0 
# numpy==1.26.4  
# fire==0.7.1 
# opencv-python==4.11.0.86 
# mediapipe==0.10.21   
 

#  mpmath, tqdm, sympy, safetensors, regex, protobuf, numpy, networkx, hf-xet, fsspec, filelock, torch, huggingface-hub, torchvision, tokenizers, transformers

#  Successfully installed filelock-3.20.1 fsspec-2025.12.0 hf-xet-1.2.0 huggingface-hub-0.36.0 mpmath-1.3.0 networkx-3.6.1 numpy-2.3.5 protobuf-4.25.8 regex-2025.11.3 safetensors-0.7.0 sympy-1.14.0 tokenizers-0.22.1 torch-2.9.1+cpu torchvision-0.24.1+cpu tqdm-4.67.1 transformers-4.57.3
