name: Deploy to Modal

on:
    push:
        branches: [main]
    workflow_dispatch:

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4


            - name: Set up python
              uses: actions/setup-python@v4
              with:
                python-version: '3.12'


            - name: Install Modal
              run: pip install modal
            

            - name: Login to Modal
              run: |
                modal token set \
                    --token-id ${{ secrets.MODAL_TOKEN_ID }} \
                    --token-secret ${{ secrets.MODAL_TOKEN_SECRET }} \
                    --non-interactive


            - name: Deploy 10k Checkboxes app
              env:
                MODAL_TOKEN_ID: ${{ secrets.MODAL_TOKEN_ID }} 
                MODAL_TOKEN_SECRET:  ${{ secrets.MODAL_TOKEN_SECRET }} 

              run: |
                cd fasthtml/fasthtml_checkboxes
                modal deploy fasthtml_checkboxes.py --name fasthtml-checkboxes

