name: Deploy to Modal

on:
    push:
        branches: [main]
    workflow_dispatch:

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4


            - name: Set up python
              uses: actions/setup-python@v4
              with:
                python-version: '3.12'
              
            - name: Cache pip
              uses: actions/cache@v3
              with:
                path: ~/.cache/pip
                key: ${{runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
                restore-keys: |
                  ${{ runner.os }}-pip-


            - name: Install Modal
              run: pip install modal

            - name: Deploy 10k Checkboxes app
              env:
                MODAL_TOKEN_ID: ${{ secrets.MODAL_TOKEN_ID }} 
                MODAL_TOKEN_SECRET:  ${{ secrets.MODAL_TOKEN_SECRET }} 

              run: |
                cd fasthtml/fasthtml_checkboxes
                pip install python-fasthtml==0.12.35 inflect~=7.4.0 httpx==0.27.0 redis>=5.3.0
                modal deploy fasthtml_without_redis.py --name fasthtml-checkboxes

